 @import "tailwindcss";

 * {
   /* 
   outline:1px solid gray; 
   */
 }

 .header-info .transition-all {
   transition: all .2s ease-in-out;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 :root {
   --background: #ffffff;
   --foreground: #171717;
 }

 @theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
 }

 @media (prefers-color-scheme: dark) {
   :root {
     --background: #0a0a0a;
     --foreground: #ededed;
   }
 }

 html,
 body {
   height: 100dvh;
 }

 body {
   background: var(--background);
   color: var(--foreground);
   font-family: Arial, Helvetica, sans-serif;
   overscroll-behavior-x: none;
   overscroll-behavior-y: none;
 }

 .TAG {}

 .quick {
   margin: 8px;
   border: #444 solid 2px;
   padding: 8px 40px;
   border-radius: 8px;
 }

 .categories-and-genres-pills {
   display: flex;
   overflow-x: hidden;
   display: flex;
   /* gap: 12px;
   padding: 8px; */
   overflow: auto;
   /* keep scroll mechanics */
   overscroll-behavior-x: contain;
   scroll-behavior: smooth;
   /* Hide scrollbar (cross-browser) */
   scrollbar-width: none;
   /* Firefox */
   -ms-overflow-style: none;
   /* IE/Edge legacy */
 }

 .categories-and-genres-pills::-webkit-scrollbar {
   display: none;
 }

 /* Chrome/Safari/Edge */
 .categories-and-genres-pills {
   cursor: grab;
 }

 .categories-and-genres-pills.dragging {
   cursor: grabbing;
   user-select: none;
   /* avoid text selection while dragging */
 }

 /* pure CSS fade-in */

 .pill {
   min-width: fit-content;
   min-height: 10px;
   font-size: 12px;
   color: #222;
   border: 2px solid #ff000050;
   border-radius: 44px;
   padding: 2px 10px;
   transition: ease-in-out .2s;
   display: flex;
 }

 .pill svg {
   font-size: 12px;
 }

 .pill:hover,
 .pill-selected {
   cursor: pointer;
   border: 2px solid #ff0000;
 }

 .filters__choosen .pill {
   border: 2px solid #ff0000;
   color: #000;
 }

 .search {
   /* margin: 40px; */
 }

 .search__field--open {
   border-top: 2px solid #333;
   border-left: 2px solid #333;
   border-right: 2px solid #333;
   border-bottom: none;
   border-radius: 22px 22px 0 0;
   padding: 0 10px;
 }

 .search__field {
   /* padding:8px; */
   border: 2px solid #333;
   border-radius: 22px;
   -webkit-box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
   box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
   border-radius: 22px;
 }

 .results--open {
   border-bottom: 2px solid #333;
   border-left: 2px solid #333;
   border-right: 2px solid #333;
   border-radius: 0 0 22px 22px;
   border-top: none;
 }

 .fade-in {
   opacity: 0;
   animation: fadeIn 1s ease-in-out forwards;
   animation-delay: 1100ms;
 }

 @keyframes fadeIn {
   from {
     opacity: 0;
   }

   to {
     opacity: 1;
   }
 }

 /* reusable delays */
 .delay-100 {
   animation-delay: 0.1s;
 }

 .delay-200 {
   animation-delay: 0.2s;
 }

 .delay-300 {
   animation-delay: 0.3s;
 }

 .delay-400 {
   animation-delay: 0.4s;
 }

 .delay-500 {
   animation-delay: 0.5s;
 }

 .delay-600 {
   animation-delay: 0.6s;
 }

 .delay-700 {
   animation-delay: 0.7s;
 }

 .delay-800 {
   animation-delay: 0.8s;
 }

 .delay-900 {
   animation-delay: 0.9s;
 }

 .loader-bar {
   opacity: 1;
   animation: loader-bar 1s ease-in-out forwards;
   animation-delay: 850ms;
 }

 @keyframes loader-bar {
   from {
     width: 10%;
   }

   to {
     width: 100%;
   }
 }

 .fadeOut {
   opacity: 1;
   animation: fadeOut 1s ease-in-out forwards;
   animation-delay: 4100ms;
 }

 @keyframes fadeOut {
   from {
     opacity: 1;
   }

   to {
     opacity: 0;
   }
 }

 .scale {
   /* transform: scale(.1); */
 }

 .header-info svg {
   width: 135px;
 }

 .speech-bubble {
   perspective: 35em;
   position: relative;
   margin: .5em auto;
   padding: 1em;
   width: 5em;
   height: 2em;
   border-radius: .25em;
   transform: rotate(-4deg) rotateY(15deg);
   background: #629bdd;
   font: 2em/4 Century Gothic, Verdana, sans-serif;
   text-align: center;
 }

 .speech-bubble:before,
 .speech-bubble:after {
   position: absolute;
   z-index: -1;
   content: '';
 }

 .speech-bubble:after {
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   border-radius: inherit;
   transform: rotate(2deg) translate(.35em, -.15em) scale(1.02);
   background: #f4fbfe;
 }

 .speech-bubble:before {
   border: solid 0 transparent;
   border-right: solid 3.5em #f4fbfe;
   border-bottom: solid .25em #629bdd;
   bottom: .25em;
   left: 1.25em;
   width: 0;
   height: 1em;
   transform: rotate(45deg) skewX(75deg);
 }

 .arrow {
   align-items: center;
 }

 .sorting {
   border-right: 2px solid #333;
   border-left: 2px solid #333;
 }

/*Maps*/
.maplibregl-ctrl-bottom-right{
  display:none;
}

.control{
  background: rgba(255, 255, 255, 0.1);
  border:1px solid white;
  border-radius:8px;
  padding:4px 8px;
  color:white;
  font-size:12px;
  cursor:pointer;
  transition: all .2s ease-in-out;
}

ul li a, ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li a svg{
  margin: 4px;
}

.closed-menu{
transform: translateX(-100%);
}

.open-menu{
  transform: matrix();
transform: translateX(0px);

}